<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Styles -->
    <script src="/javascripts/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

</head>
<body>
    <div id="dataset" data-username="<%=username%>"> </div>
    <% include ./includes/menu_home.ejs %>
    <div class="container">

        <div class="row">
            <div class="column-1">
                <div class="calendar">
                    <div class="month">
                        <i class="fas fa-angle-left prev" style="margin-left: 2rem; "></i>
                        <div class="date">
                            <h1></h1>
                            <p></p>
                        </div>
                        <i class="fas fa-angle-right next" style="margin-right: 2rem;"></i>
                    </div>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days"></div>

                    <div class="mycalendar">
                        <div class="row" style="align-items: center;">
                            <h1>
                                My Calendar
                                <button id="create_event" class="create_event"> + </button>
                            </h1>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control control--checkbox">
                            Birthdays
                            <input type="checkbox" checked="checked" id='birthday' />
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox" id='reminder'>
                            Reminders
                            <input type="checkbox" checked="checked" />
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox" id='task'>
                            Tasks
                            <input type="checkbox" checked="checked" />
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                    <div class="mycalendar">
                        <h1>
                            Subcriber
                        </h1>
                    </div>
                    <div class="control-group" id="subcriber">
                        <!--
                        <label class="control control--checkbox" id ='reminder'> Reminders
                          <input type="checkbox" checked="checked"/>
                          <div class="control__indicator"></div>
                        </label> -->
                    </div>
                </div>
            </div>

            <!-- / College Timetable -->
            <div class="column-2">
                <table id='timetable'>
                </table> <!-- end table -->
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->

    <div class="modal" id="calendar-form">
        <div id="calendar-popup">

            <form id="event-form" method="post">
                <div id="title_event_form" class='calander_popip_title'>
                    <i class="fa" aria-hidden="true"></i>
                    Add Event
                </div>
                <ul style="padding-left: 10px; padding-right: 10px;">
                    <li>
                        <label for="event-start">
                            <i class="fa" aria-hidden="true"></i>

                            Date Time
                        </label>
                        <input id="event-start" class='form-control fa' type="datetime-local" name="start" />
                    </li>

                    <li>
                        <label for="event-title">
                            <i class="fa" aria-hidden="true"></i>
                            Event Name
                        </label>
                        <input id="event-title" class='form-control' type="text" value="" name="title" />
                    </li>

                    <li>
                        <label for="event-location">
                            <i class="fa" aria-hidden="true"></i>
                            Location
                        </label>
                        <input id="event-location" class='form-control' type="text" value="" name="location" />
                    </li>
                    <li>
                        <label for="event-details">
                            <i class="fa" aria-hidden="true"></i>
                            Description
                        </label>
                        <textarea id="event-details" class='form-control' type="text" value="" name="details"></textarea>
                    </li>
                    <li style="background-color: white;">
                        <label for="event-mode">
                            <i class="fa" aria-hidden="true"></i>
                            <!-- <row> -->
                            <div style="column-count: 2;">
                                <label>Private</label>
                                <input type="checkbox" style="margin-bottom: 5px;" id="mode" name="mode">
                            </div>
                            <!-- </row> -->
                        </label>
                    </li>

                    <button id="submit_1" style="width: 82%;"> Submit </button>
                </ul>
            </form>
        </div>
    </div>


    <div class="modal" id="calendar-show-form">
        <div id="calendar-popup">

            <form id="form-inf" method="POST" action="javascript:void(0);">
                <div class='calander_popip_title'>
                    <i class="fa" aria-hidden="true"></i>
                    Event Information
                </div>
                <p id="event_name" style="margin-left: 20px; font-size: 2.5em;margin-top: 15px;margin-bottom: 15px; color: #ace1af;">
                    <b><info id='event-name-info' style="display: inline;"></info></b>
                </p>
                <p id="time_e" class="pp">
                    <i>Time: <info id='event-time-info' style="display: inline;"></info></i>
                </p>
                <p id="location_e" class="pp">
                    <i>Location: <info id='event-location-info' style="display: inline;"></info></i>
                </p>
                <p id="detail_e" class="pp">
                    <i>Detail: <info id='event-detail-info' style="display: inline;"></info></i>
                </p>
                <div id="p_button" style="width:100%">
                    <button class="p_button" id="delete_button">DELETE</button>
                    <button class="p_button" id="ed">EDIT</button>
                </div>

            </form>
        </div>
    </div>


    <!-- Scripts -->

    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>
