<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="43339122431-re8ubcvgrj5mim4ufqinsf5rlo82kbok.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

    <title>Sign in & Sign up Form</title>
    <!-- Favicon  -->
    <link rel="icon" href="images/icon.svg">
</head>

<body>
    <canvas></canvas>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form id='login-form' action="auth" class="sign-in-form" method="POST">
                    <h2 class="title" style="color:#fff;">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" placeholder="Username" required />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" style="margin-top: 15px;" name="password" placeholder="Password" required />
                    </div>
                    <input type="submit" value="Login" class="btn transparent" style="width: 20%; " />
                    <p id="aaa">Or sign in with</p>
                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="margin-top: 10px; "></div>
                    <!-- <a href="#" onclick="signOut();">Sign out</a> -->

                    <script>
                        function onSignIn(googleUser) {
                            var id_token = googleUser.getAuthResponse().id_token;
                            console.log(`id_token`, id_token)
                            var xhr = new XMLHttpRequest();
                            xhr.open('POST', '/login');
                            xhr.setRequestHeader('Content-Type', 'application/json');
                            xhr.onload = function () {
                                console.log('Signed in as: ' + xhr.responseText);
                                if (xhr.responseText == 'success') {
                                    signOut();
                                    location.assign('/ghome')
                                }
                            };
                            xhr.send(JSON.stringify({ token: id_token }));

                        }
                    </script>
                    <script>
                        function signOut() {
                            var auth2 = gapi.auth2.getAuthInstance();
                            auth2.signOut().then(function () {
                                console.log('User signed out.');
                            });
                        }
                    </script>
                    <a href="/forgot" class="forgot" style="color: #fff; font-weight: bold; margin-top: 15px;">Forgot Password</a>
                </form>

                <form id='register-form' action="javascript:void(0);" class="sign-up-form" id='form-1' method="POST">
                    <h2 class="title" style="color: #fff;">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input id="username" type="text" placeholder="UserName" name="username" required />
                        <span class="form-message"></span>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input id="email" type="email" placeholder="Email" name="email" required />
                        <span class="form-message"></span>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-phone"></i>
                        <input id="phone" type="phone" placeholder="Phone Number" name="phone" required />
                        <span class="form-message"></span>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input id="password" type="password" style="margin-top: 20px;" placeholder="Password" name="password" required />
                        <span class="form-message"></span>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input id="confirm" type="password" style="margin-top: 20px;" placeholder="confirm" name='confirm' />
                        <span class="form-message"></span>
                    </div>
                    <input type="submit" class="btn transparent" value="Sign up" />
                </form>
            </div>
        </div>

        <div class="panels-container" style="margin-left: -11%; margin-top: -8%;">
            <div class="panel left-panel">
                <div class="content" style="">
                    <h3 style="color: #fff;">Hello guy!</h3>
                    <p style="color: #fff;">
                        Enter your personal details and start journey with us
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Sign up
                    </button>
                </div>
            </div>
            <div class="panel right-panel" style="margin-right: -15%; margin-top: 8%;">
                <div class="content">
                    <h3 style="color: #fff;">Welcome Back!</h3>
                    <p style="color: #fff;">
                        To keep connected with us please login with your personal info
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Sign in
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script src="/javascripts/login.js"></script>
    <script src="/javascripts/script.js"></script>
    <script>
        Validator({
            form: '#form-1',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired("#fullname", 'Please enter'),
                Validator.isEmail("#email", 'Please enter the correct format email'),
                Validator.isMinLen('#password', 'Please enter at least 6 characters'),
                Validator.isMinLen('#confirm', 'Please enter at least 6 characters')
            ]
        });
    </script>
</body>

</html>